<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL тестирование Самокат</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        .table-container {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            background-color: #f8f9fa;
        }
        .table-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .question-text {
            font-size: 1.25rem;
            text-align: left;
            width: 100%;
        }
        .btn-current {
            background-color: #17a2b8; /* Example color: change to what you need */
            color: white; /* Ensure contrast against the background */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="text-left">
            <p class="text-center">Оставшееся время: <span id="remaining-time">{{ remaining_time_str }}</span></p>
        </div>

        <!-- Добавим ссылки для навигации по вопросам -->
        <div class="text-center mb-4">
            {% for i in range(1, 8) %}
                <a href="{{ url_for('question', id=i) }}"
                   class="btn
                          {% if request.path == url_for('question', id=i) %}btn-current
                          {% elif i|string in completed_questions %}btn-success
                          {% else %}btn-secondary
                          {% endif %} m-1"
                   id="question-link-{{ i }}">Вопрос {{ i }}</a>
            {% endfor %}
        </div>

        <div class="text-left">
            <h3 class="question-text" id="question-text">{{ question['text'].replace('\n', '<br>') | safe }}</h3>
        </div>

        <div id="sql-form-container" class="row mt-5">
            <div class="col-md-12">
                <form id="sql-form" method="post" action="/execute_sql">
                    <div class="form-group">
                        <textarea id="query-input" name="query" class="form-control" rows="10" placeholder="Введите ваш SQL запрос..."></textarea> <!-- Размер SQL окна-->
                    </div>
                    <button id="execute-button" type="submit" class="btn btn-primary btn-block">Выполнить запрос</button>
                </form>
                <button id="final-submit" class="btn btn-success btn-block mt-3">Отправить на проверку</button>
                <div class="mt-3" id="output"></div>
                <div class="mt-3" id="row-count"></div> <!-- Новый элемент для отображения количества строк -->
            </div>
        </div>


        <!-- Связи таблиц -->
        <div class="container mt-5">
            <div class="row">
                <h2 class="text-center w-100">Таблицы для тестирования</h2>
                <div id="canvas" class="d-flex flex-wrap justify-content-center w-100"></div>
            </div>
        </div>

        <!-- Завершение тестирования -->
        <div class="text-center mt-3">
            <a href="/finish_test" class="btn btn-danger">Завершить тестирование</a>
        </div>
    </div>

    <script>
$(document).ready(function() {
            // Function to add LIMIT clause to SQL queries
            function addLimitClause(query, limit) {
                // Check if the query already contains a LIMIT clause
                var limitRegex = /LIMIT\s+\d+/i;
                if (limitRegex.test(query)) {
                    // Replace existing LIMIT clause with the new one
                    return query.replace(limitRegex, 'LIMIT ' + limit);
                } else {
                    // Add LIMIT clause to the end of the query
                    return query.trim() + ' LIMIT ' + limit;
                }
            }

            // Процесс выполнения SQL запроса
            $('#sql-form').on('submit', function(e) {
                e.preventDefault();
                $('#output').html(''); // Очистка старого результата

                var query = $('#query-input').val();
                var limitedQuery = addLimitClause(query, 10); // Добавление LIMIT 50

                $.post('/execute_sql', { query: limitedQuery }, function(response) {
                    if (response.error) {
                        $('#output').html('<pre>Error: ' + response.error + '</pre>');
                    } else {
                        $('#output').html(response.result);
                        $('#output table').addClass('table table-striped');
                        $('#row-count').text(`Выведено 10 из 10000 строк`);
                    }
                }).fail(function(xhr) {
                    var response = xhr.responseJSON;
                    $('#output').html('<pre>Error: ' + response.error + '</pre>');
                });
            });

            // Процесс итоговой проверки
            $('#final-submit').on('click', function(e) {
                e.preventDefault();
                const questionId = '{{ question["id"] }}';
                $.post('/final_submit', { query: $('textarea[name="query"]').val(), question_id: questionId }, function(response) {
                    if (response.error) {
                        $('#output').html('<pre>Error: ' + response.error + '</pre>');
                    } else {
                        $('#question-link-' + questionId).hide(); // Скрываем ссылку на текущий вопрос
                        window.location.href = response.next_url;
                    }
                }).fail(function(xhr) {
                    var response = xhr.responseJSON;
                    $('#output').html('<pre>Error: ' + response.error + '</pre>');
                });
            });

            // Обновление таймера
            var remainingTime = Math.floor({{ remaining_time.total_seconds() }});
            function updateTimer() {
                var minutes = Math.floor(remainingTime / 60);
                var seconds = remainingTime % 60;
                $('#remaining-time').text(`${minutes}:${seconds < 10 ? '0' : ''}${seconds}`);
                remainingTime--;

                if (remainingTime <= 0) {
                    clearInterval(timerInterval);
                    alert('Время вышло. Пожалуйста, завершите ваши действия.');
                    window.location.href = '/finish_test';
                }
            }

            var timerInterval = setInterval(updateTimer, 1000);
            updateTimer();

            function displayTables() {
                var tables = {
                    "lost": [
                        ["date", "datetime", "дата и время проведения потерь"],
                        ["warehouse_id", "integer", "идентификатор склада"],
                        ["product_id", "integer", "идентификатор товара"],
                        ["item_id", "integer", "идентификатор статьи потерь. Например, списание по сроку годности - 146"],
                        ["quantity", "decimal", "потери в количестве"],
                        ["amount", "decimal", "сумма потерь"]
                    ],
                    "order_line": [
                        ["order_id", "integer", "идентификатор заказа"],
                        ["date", "datetime", "дата и время создания заказа"],
                        ["warehouse_id", "integer", "идентификатор склада"],
                        ["product_id", "integer", "идентификатор товара"],
                        ["price", "decimal", "цена продажи"],
                        ["regular_price", "decimal", "регулярная цена"],
                        ["cost_price", "decimal", "цена в себестоимости"],
                        ["quantity", "decimal", "количество проданных единиц товара"],
                        ["paid_amount", "decimal", "сумма продаж"]
                    ],
                    "orders": [
                        ["order_id", "integer", "идентификатор заказа"],
                        ["warehouse_id", "integer", "идентификатор склада"],
                        ["user_id", "integer", "идентификатор клиента"],
                        ["date", "datetime", "дата и время создания заказа"],
                        ["paid_amount", "decimal", "сумма заказа"],
                        ["quantity", "decimal", "количество единиц товаров в заказе"]
                    ],
                    "products": [
                        ["product_id", "integer", "идентификатор товара"],
                        ["name", "varchar", "наименование товара"],
                        ["group1", "varchar", "группа товаров 1 уровня"],
                        ["group2", "varchar", "группа товаров 2 уровня"],
                        ["group3", "varchar", "группа товаров 3 уровня"],
                        ["weight", "decimal", "вес товара"],
                        ["shelf_life", "integer", "срок годности товара в днях"]
                    ],
                    "warehouses": [
                        ["warehouse_id", "integer", "идентификатор склада"],
                        ["name", "varchar", "наименование склада"],
                        ["city", "varchar", "город"],
                        ["date_open", "date", "дата открытия склада"],
                        ["date_close", "date", "дата закрытия склада"]
                    ]
                };

                const container = document.getElementById('canvas');
                container.innerHTML = ''; // Очищаем контейнер перед добавлением таблиц
                Object.keys(tables).forEach((table) => {
                    const tableContainer = document.createElement('div');
                    tableContainer.className = 'table-container';

                    const title = document.createElement('div');
                    title.className = 'table-title';
                    title.innerText = table;
                    tableContainer.appendChild(title);

                    tables[table].forEach((col) => {
                        const colDiv = document.createElement('div');
                        colDiv.innerText = `${col[0]}: ${col[1]} (${col[2]})`;
                        tableContainer.appendChild(colDiv);
                    });

                    container.appendChild(tableContainer);
                });
            }

            // Показываем таблицы при загрузке страницы
            displayTables();
        });
    </script>
</body>
</html>

